<p>seccion works codigo: </p>

<div class="modal-overlay">
    <div class="modal-dialog">
        <div class="tabla-modal">
            <table>
                <tr>
                    <th class="cabecero">Sección</th>
                    <th class="cabecero">Horario</th>
                    <th class="cabecero">Inscritos</th>
                </tr>
                <tr>
                    <div *ngFor="let item of secciones; let i=index">
                        <td>{{item.codSeccion}}</td>
                        <td>{{item.apellidoPaterno}} {{item.apellidoPaterno}}{{item.apellidoMaterno}},{{item.primerNombre}}
                            {{item.horaInicioSeccion}} - {{item.horaFinSeccion}}</td>
                        <td>{{item.codAula}} / {{item.horaFinSeccion}}</td>

                    </div>
                </tr>
            </table>

            <button><a [routerLink]="['/matricula/',codUsuario]">
                Regresar</a>
            </button>
        </div>
    </div>
</div>
