
<body>
<div class="login-box">
  <form>
    <label> Codigo:</label>
    <input type="text" [(ngModel)]="codigo" [ngModelOptions]="{standalone: true} " placeholder="Ingresar codigo"><br>
    <label> Contraseña:</label>
    <input type="password" [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true} " placeholder="Ingresar contraseña"><br>
    <button (click)="valida()">
      <div class="font-sans hover:font-serif ">
        <input type="button" value="Confirmar datos">
      </div>
    </button>
    <p>{{mensaje}}</p>

    <div *ngIf="mensaje=='Usuario validado'">
      <a [routerLink]="['/Fiis/',codigo]">
        <input  type="button" value="Ingresar"></a>
    </div>
    <a href="#">¿Olvidaste tu contraseña?</a><br>
    <a href="#">¿No tienes una cuenta?</a>
  </form>
</div>
</body>
