<p>seccion works codigo: {{codCurso}}</p>

<div class="modal-overlay">
  <div class="modal-dialog">
    <div class="tabla-modal">
      <table>
        <tr>
          <th class="cabecero">Sección</th>
          <th class="cabecero">Horario</th>
          <th class="cabecero">Inscritos</th>
        </tr>
        <tr>
          <td>
            <button class="seleccionar-modal">Elegir</button>
          </td>
          <div *ngFor="let item of lista; let i=index">
          <td>{{item.codCurso}}</td>
          <td>{{item.nombreCurso}}</td>
          <td>{{item.pesoCreditos}}</td>
          <td>{{item.numeroVeces}}</td>
          <td>{{item.codTipoCurso}}</td>
          <td>
            <button id="abrir-modal">
              <a [routerLink]="['/seccion/',item.codCurso]">
                {{item.codCurso}}
                <img src="imagenes/imagen+.png" alt=""/></a>
            </button>}Teoría Quinteros Chavez Silvio Lu 8-10 <br>
            Practica Quinteros Chavez Silvio Mi 8-10 </td>
          <td>17/30</td>
                  <td>
            <button class="seleccionar-modal">Elegir</button>
          </td>
          <td>asdasdadasasdasdasdasdasdasdasdasdasdasdasdasdasdaasdasdasdasdasdasi</td>
          <td>17/30</td>
        </tr>
    </table>

    <button class="cerrar-modal">Cancelar</button>
  </div>
</div>
</div>
