<p>login works!</p>
<div class="container-full">
  <div class="w-1/3 mx-auto">
    <div class="text-center text-blue-700 text-5xl"> LOGIN</div>
    <div class="grid grid-cols-2">
      <div >
        <!-- usuario -->
        <label> Codigo Usuario:</label>
        <input type="text" [(ngModel)]="codUsuario" [ngModelOptions]="{standalone: true} " placeholder="Ingresar Usuario"><br>
        <!-- contraseña -->
        <label> Contrasena:</label>
        <input type="password" [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true} " placeholder="Ingresar contrasena"><br>
      </div>
    </div>
  </div>
</div>
